# --------- pytorch --------- #
lightning
pytorch-lightning
torch
torchvision

# --------- hydra --------- #
hydra-core
hydra-colorlog
hydra-optuna-sweeper
# hydra-ax-sweeper
# hydra-ray-launcher
# hydra-submitit-launcher

# --------- loggers --------- #
wandb==0.18.5
# neptune-client
# mlflow
# comet-ml
# torch_tb_profiler

# --------- linters --------- #
pre-commit==4.0.1      # hooks for applying linters on commit

# --------- others --------- #
# python-dotenv   # loading env variables from .env file
rich
scikit-learn
seaborn
rasterio
fiona
pyarrow
geopandas==1.0.1
numpy
scipy
scikit-image