# https://wandb.ai

wandb:
    _target_: lightning.pytorch.loggers.wandb.WandbLogger
    project: ${project}
    name: ${run_name}
    save_dir: ${log_dir}
    version: ${run_version} #Sets the version, mainly used to resume a previous run.
    offline: False # set True to store all logs only locally
    id: null # pass correct id to resume experiment!
    log_model: False
    prefix: "" # prefix to each experience variable
    job_type: "train"
    group: "super_resolution"
    tags: ["super_resolution", "canopy", "ESDR", "U-Net"]
