defaults:
  - metric_calculator : height_metrics


forest_mask_path : ./
classification_path : ./
classes_to_keep : [5]
bins : [0, 2, 5, 10, 15, 20, 30, 60]

train_metrics: null

val_metrics:
  _target_: src.models.metrics.metrics.masked_method_metrics
  metric_calculator : ${model.metrics.metric_calculator}
  forest_mask_path : ${model.metrics.forest_mask_path}
  classification_path : ${model.metrics.classification_path}
  classes_to_keep : ${model.metrics.classes_to_keep}
  target_patch_size : ${datamodule.instance.patch_size_target}
  bins : ${model.metrics.bins}

test_metrics:
  _target_: src.models.metrics.metrics.masked_method_metrics
  metric_calculator : ${model.metrics.metric_calculator}
  forest_mask_path : ${model.metrics.forest_mask_path}
  classification_path : ${model.metrics.classification_path}
  classes_to_keep : ${model.metrics.classes_to_keep}
  target_patch_size : ${datamodule.instance.patch_size_target}
  bins : ${model.metrics.bins}